body {
  font-family: 'Fjord One', serif;
  text-align: center;
}
section.feed-viewer-single {
  width: 30em;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  text-align: left;
}
section.feed-viewer-single h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
section.feed-viewer-single h3 {
  font-size: 0.75em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #c0c0c0;
  line-height: 1em;
  margin: 0;
  padding-bottom: 0.5em;
}
section.feed-viewer-single p.story-actions {
  text-align: center;
}
