body {
  font-family: 'Fjord One', serif;
  text-align: center;
}

section.feed-viewer-single {
  margin: 0;
  @storyMargin: 0.75em;
  @storyWidth: 30em;
  @minWidth: ((@storyWidth * 2) + (@storyMargin * 4));

  vertical-align: top;
  padding: 0;
  margin: @storyMargin;
  text-align: left;

  @media all and (min-width: @minWidth) {
    width: @storyWidth;
    display: inline-block;
  }


  h1 {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  h3 {
    font-size: 1em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    border-bottom: 1px solid #c0c0c0;
    line-height: 1em;

    margin: 0;
    padding-bottom: 0.5em;

  }

  .story-actions {
    margin: 0.3em;
    padding: 0;

    @media all and (min-width: @minWidth) {
      display: none;
    }

  }

  &:hover {
    .story-actions {
      display: block;
    }
  }

}