body {
  font-family: 'Fjord One', serif;
}
textarea {
  min-width: 40em;
  min-height: 30em;
}
section.feed-viewer-single {
  margin: 0;
  vertical-align: top;
  padding: 0;
  margin: 0.75em;
  text-align: left;
}
@media all and (min-width: 63em) {
  section.feed-viewer-single {
    width: 30em;
    display: inline-block;
  }
}
section.feed-viewer-single h1 {
  font-size: 1.3em;
  line-height: 1.3em;
}
section.feed-viewer-single h3 {
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #c0c0c0;
  line-height: 1em;
  margin: 0;
  padding-bottom: 0.5em;
}
section.feed-viewer-single .story-actions {
  margin: 0.3em;
  padding: 0;
}
@media all and (min-width: 63em) {
  section.feed-viewer-single .story-actions {
    display: none;
  }
}
section.feed-viewer-single:hover .story-actions {
  display: block;
}
